<form action="/items/new" method="post">
	<input type="text" name="title" placeholder="Enter post title">
	<textarea name="body" placeholder="Write your story"></textarea>
	<input type="submit">
</form>