<!DOCTYPE html>
<html>
<head>
	<title>Buckets</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<header> 
		<h1> <a href="/">my bucket list</a> </h1>
		<nav>
			<ul>
				<li> <a href="/items/new">New item </a></li>
				<li> <a href="#"> Contact us </a></li>
			</ul>
		</nav>
	</header>

	<%= yield %> 
	
</body>
</html>